<nav class="navbar navbar-expand-lg bg-body-tertiary" *ngIf="!isPartidaRoute">
  <div class="container-fluid">
    <a class="navbar-brand" >Ship Game</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li><a class="nav-link" *ngIf="hasAuthToken" routerLink="/juegos">Jugar</a></li>
        <li><a class="nav-link" *ngIf="hasAuthToken" routerLink="/estadisticas">Estadisticas</a></li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"*ngIf="!hasAuthToken">
          <a class="nav-link" routerLink="/login">Iniciar Sesion</a>
        </li>
        <li class="nav-item" *ngIf="!hasAuthToken">
          <a class="nav-link" routerLink="/register" >Regitrarse</a>
        </li>
        <li class="nav-item" *ngIf="hasAuthToken">
          <button class="nav-link"  (click)="logOut($event)">Cerrar Sesión</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet />
